name: 定期更新 IP 地址

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-ip:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 设置 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      # 更新此步骤以安装所有需要的库
      - name: 安装依赖
        run: pip install requests beautifulsoup4 lxml

      - name: 运行脚本获取 IP
        run: python main.py

      - name: 提交并推送文件
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "ci: 自动更新 IP 地址"
          file_pattern: ip.txt
